<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
</div>

<div class="content" role="main">
  <span class="col-12">
    <table class="table table-striped">
      <thead>
        <th>Person Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Country</th>
        <th>Industry</th>
        <th>Number of recommendations</th>
        <th>Number of connections</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of allClients">
          <td>{{ item.personId }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.country }}</td>
          <td>{{ item.industry }}</td>
          <td>{{ item.numberOfRecommendations }}</td>
          <td>{{ item.numberOfConnections }}</td>
        </tr>
      </tbody>
    </table>
  </span>
  <button (click)="averageCountry()">Average by profession</button>
  <span class="col-6">
    <table class="table table-striped">
      <thead>
        <th>Country</th>
        <th>Number of connections</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of occurrences | keyvalue">
          <td>{{ item.key }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </tbody>
    </table>
  </span>

  <router-outlet></router-outlet>
</div>
